<div class="container">
    <div class="panel panel-default">    
        <div class="panel-heading">
            Autores
            <a class="pull-right btn btn-xs btn-success" href="#/autores/add"><i class="glyphicon glyphicon-plus"></i> Adicionar Novo</a>
        </div>    
            <div class="panel-body">
                <div class="table-responsive">
                    <table ng-table="vm.tableParams" show-filter="true" class="table table-striped">
                        <tr ng-repeat="a in $data">
                            <td data-title="'#'" style="width:10px" sortable="'Id'">{{a.Id}}</td>
                            <td data-title="'Nome'" sortable="'Nome'">{{a.Nome}}</td>
                            <td data-title="'Ação'" style="width:80px">
                                <button ng-click="vm.edit(a)" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
                                <button ng-click="vm.delete(a)" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>                    

                </div>                    
    </div>
</div>
